.summaryContainer {
  /* background-color: black; */
  color:black;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.donationItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donationIcon {
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

.donationCount {
}

.donationTitle {
    font-size: 20px;
}


@media (max-width: 768px) {
    .donationTitle {
        font-size: 10px;
    }
    
  }
  