.aboutContainer {
  padding: 30px 10px;
  color: black;
  line-height: 1.7em;
}

.aboutContainer h1 {
  font-size: 2rem;
  color: black;
  text-align: center;
  
}

@media (max-width: 768px) {
  .aboutContainer .leftSection h1 {
    font-size: 1.2rem;
  }
}
