.navbar {
  padding: 30px 0;
}

.navLinkContainer {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navLinkContainer li {
  margin-right: 20px;
}

.navLinkContainer a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}



.navLinkContainer a:hover  {
  color:#e3b74c
}


.navLinkContainer .active {
  color:#e3b74c
}


@media (max-width: 768px) {
  .navLinkContainer li {
    font-size: 0.9rem;
  }
}