.socialContainer {
  display: flex;
  align-items: flex-end;
}

.socialButton a{
  margin-right: 10px;
  font-weight: 500;
  color: black;
}

.socialButton a:hover {
  color: black;
  cursor: pointer;
}

