.buttonContainer {
  width: fit-content;
  background-color: rgb(24, 39, 30);

  cursor: pointer;
  box-shadow: 2px 2px 2px 2px;
}

.buttonContainer p {
  padding: 10px;
  color: #e3b74c !important;
}

.buttonContainer p:active {
  box-shadow: 3px 2px 2px 2px;
}
